*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: black;
}
@keyframes animateDown {
  0% ,
  25% , 
  50% ,  
  100% {transform: translateY(0);}

  40%  {
    transform: translateY(7px);
  }

  60% {
    transform: translateY(3px);
  }
}
a{
  text-decoration: none;
}